In [61]:
import opendatasets as od 
import pandas as pd
import seaborn as sns
import os
from IPython.display import display


od.download("https://www.kaggle.com/datasets/itssuru/loan-data")

Skipping, found downloaded files in ".\loan-data" (use force=True to force download)

In [62]:
loans_data_set_path = os.getcwd() + os.sep + "loan-data" + os.sep + "loan_data.csv"
loans_df = pd.read_csv(loans_data_set_path)
display(loans_df)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

In [63]:
print(loans_df.isnull().sum())

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

We have no missing values

In [86]:
types_of_loans = loans_df['purpose'].unique()

list_of_loans_by_type = []
for i in types_of_loans:
    list_of_loans_by_type.append(loans_df[loans_df['purpose'] == i])

for i in list_of_loans_by_type:
    display(i)

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
6,1,debt_consolidation,0.1496,194.02,10.714418,4.00,667,3180.041667,3839,76.8,0,0,1,1
9,1,debt_consolidation,0.1221,84.12,10.203592,10.00,707,2730.041667,5630,23.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9562,0,debt_consolidation,0.1348,508.87,10.933107,17.76,717,3870.041667,8760,28.2,6,0,0,0
9563,0,debt_consolidation,0.1099,556.50,11.225243,17.84,727,6840.041667,18753,29.0,4,0,0,1
9572,0,debt_consolidation,0.1565,69.98,10.110472,7.02,662,8190.041667,2999,39.5,6,0,0,1
9575,0,debt_consolidation,0.1071,97.81,10.596635,13.09,687,3450.041667,10036,82.9,8,0,0,1
9577,0,debt_consolidation,0.1392,853.43,11.264464,16.28,732,4740.000000,37879,57.0,6,0,0,1

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0
5,1,credit_card,0.0788,125.13,11.904968,16.98,727,6120.041667,50807,51.0,0,0,0,0
17,1,credit_card,0.0894,476.58,11.608236,7.07,797,6510.958333,7586,52.7,1,0,0,0
22,1,credit_card,0.1355,339.60,11.512925,7.94,662,1939.958333,21162,57.7,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9526,0,credit_card,0.0788,437.93,11.820410,15.87,757,6720.041667,232755,23.0,0,0,0,0
9530,0,credit_card,0.1099,425.56,11.571194,16.36,722,7500.041667,22354,65.6,4,0,0,0
9538,0,credit_card,0.1422,244.28,11.561716,0.70,687,7920.041667,505,9.0,6,1,0,0
9557,0,credit_card,0.1025,466.35,12.206073,13.97,722,6120.041667,338935,78.3,2,0,0,0
9559,0,credit_card,0.1273,688.11,11.314475,21.13,732,5881.000000,35227,54.3,5,0,0,0

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
7,1,all_other,0.1114,131.22,11.002100,11.08,722,5116.000000,24220,68.6,0,0,0,1
16,1,all_other,0.1317,77.69,10.522773,2.26,672,3895.958333,2211,88.4,0,0,0,0
20,1,all_other,0.0800,188.02,11.225243,16.08,772,4888.958333,29797,23.2,1,0,0,0
21,1,all_other,0.0863,474.42,10.819778,2.59,797,11951.000000,5656,27.6,0,0,0,0
25,1,all_other,0.0901,159.03,12.429216,10.00,712,1553.958333,14354,36.6,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9568,0,all_other,0.1979,37.06,10.645425,22.17,667,5916.000000,28854,59.8,6,0,1,0
9570,0,all_other,0.1671,113.63,10.645425,28.06,672,3210.041667,25759,63.8,5,0,0,1
9571,0,all_other,0.1568,161.01,11.225243,8.00,677,7230.000000,6909,29.2,4,0,1,1
9573,0,all_other,0.1461,344.76,12.180755,10.39,672,10474.000000,215372,82.1,2,0,0,1
9574,0,all_other,0.1253,257.70,11.141862,0.21,722,4380.000000,184,1.1,5,0,0,1

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
8,1,home_improvement,0.1134,87.19,11.407565,17.25,682,3989.000000,69909,51.1,1,0,0,0
32,1,home_improvement,0.0743,155.38,11.918391,0.00,777,7128.958333,6053,19.5,0,0,0,0
33,1,home_improvement,0.0807,78.42,11.608236,11.33,762,6059.958333,7274,13.1,0,0,0,0
39,1,home_improvement,0.0933,159.77,12.100712,11.93,717,4498.958333,60568,39.2,1,0,0,0
40,1,home_improvement,0.0807,156.84,12.100712,5.55,742,4019.000000,40934,26.3,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9549,0,home_improvement,0.2164,729.70,11.877569,8.63,667,8280.041667,55442,66.9,9,0,1,1
9551,0,home_improvement,0.1348,508.87,11.736069,16.85,707,7440.041667,206877,92.5,1,0,0,1
9555,0,home_improvement,0.1311,674.90,12.292250,9.94,717,5730.041667,39576,27.7,5,0,0,1
9569,0,home_improvement,0.1426,823.34,12.429216,3.62,722,3239.958333,33575,83.9,5,0,0,1
9576,0,home_improvement,0.1600,351.58,10.819778,19.18,692,1800.000000,0,3.2,5,0,0,1

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
13,1,small_business,0.0714,92.82,11.512925,6.50,747,4384.000000,3021,4.8,0,1,0,0
42,1,small_business,0.0870,94.98,10.126631,14.54,752,2460.000000,3660,7.8,1,0,0,0
51,1,small_business,0.1028,323.98,10.217422,10.70,712,1379.000000,3534,54.4,0,0,0,0
52,1,small_business,0.1059,813.65,10.778956,4.05,762,2729.958333,2422,23.3,0,0,0,0
55,1,small_business,0.1059,398.69,11.002100,17.12,747,14008.958330,17214,8.1,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9496,0,small_business,0.1635,169.58,10.566176,5.35,692,3390.041667,837,34.9,4,0,0,0
9535,0,small_business,0.1496,831.52,12.765688,11.38,717,8520.041667,1207359,56.0,7,0,0,1
9536,0,small_business,0.1348,542.79,12.611538,3.12,737,7410.041667,211931,10.0,7,2,0,1
9539,0,small_business,0.1533,870.71,11.849398,23.81,712,7775.041667,60048,80.1,5,0,0,0
9554,0,small_business,0.1533,870.71,11.842229,16.16,707,4230.041667,56909,49.8,5,0,0,0

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
15,1,major_purchase,0.1103,327.53,10.738915,13.04,702,8159.958333,5394,53.4,1,0,0,0
19,1,major_purchase,0.1513,173.65,11.002100,2.74,667,1126.958333,591,84.4,3,0,0,0
202,1,major_purchase,0.0743,93.23,11.184421,11.18,757,4500.041667,12430,29.6,5,0,0,0
218,1,major_purchase,0.1186,530.36,11.366743,15.10,682,3900.000000,348,4.8,0,0,0,1
225,1,major_purchase,0.0870,158.31,10.778956,0.38,717,12930.041670,498,7.3,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9462,0,major_purchase,0.1287,168.17,12.429216,7.55,697,6270.000000,13622,47.8,5,0,1,0
9463,0,major_purchase,0.1878,146.18,10.491274,19.20,677,1290.041667,3014,55.8,9,0,0,0
9485,0,major_purchase,0.1704,231.89,11.156251,20.81,672,1440.000000,7483,94.8,6,0,0,0
9493,0,major_purchase,0.1392,136.55,10.341742,13.24,682,5851.000000,577,14.1,5,2,1,0
9531,0,major_purchase,0.2017,149.01,10.596635,12.39,677,3140.041667,200,13.3,10,3,0,0

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
46,1,educational,0.0775,168.60,8.987197,3.00,762,6659.958333,1321,16.5,0,0,0,0
53,1,educational,0.0996,112.87,9.510445,16.44,712,1649.958333,2864,41.1,1,0,0,0
77,1,educational,0.0743,124.31,10.596635,3.45,772,1739.958333,330,11.0,0,0,0,0
115,1,educational,0.1059,195.27,9.852194,8.15,692,3089.958333,8528,86.1,0,0,0,0
140,1,educational,0.1249,100.35,10.279181,12.77,662,1110.000000,566,51.5,3,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9439,0,educational,0.1600,527.36,11.070459,12.89,672,3330.000000,2328,59.7,5,0,0,0
9468,0,educational,0.1461,168.93,10.578980,2.63,667,3180.041667,3288,74.7,5,0,0,0
9498,0,educational,0.1426,267.59,9.878170,15.45,707,1710.041667,3910,38.2,6,1,0,1
9505,0,educational,0.1287,121.08,10.085809,3.40,707,1380.041667,2650,26.2,4,0,0,0
9547,0,educational,0.1607,147.82,9.862666,16.19,667,1260.041667,4445,53.5,4,0,0,1

In [84]:
for i in list_of_loans_by_type:
    print(i['purpose'].unique())
    display(i.describe())
loans_df.describe()

['debt_consolidation']

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000,3957.000000
mean,0.814506,0.126595,358.984390,10.912909,14.076462,703.871367,4533.037139,17146.710639,54.125504,1.461461,0.163255,0.070508,0.152388
std,0.388747,0.024769,198.309002,0.547477,6.433460,34.397778,2340.567954,24167.207708,26.715131,2.059245,0.561788,0.262854,0.359442
min,0.000000,0.060000,23.210000,7.547502,0.000000,612.000000,180.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.111400,201.520000,10.571317,9.200000,677.000000,2925.000000,5494.000000,33.200000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.128000,325.080000,10.903815,14.240000,697.000000,4114.041667,10868.000000,55.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.142600,491.300000,11.238436,19.130000,727.000000,5639.958333,19469.000000,76.300000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.212100,940.140000,14.528354,29.960000,822.000000,16259.041670,290341.000000,119.000000,33.000000,13.000000,3.000000,1.000000

['credit_card']

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000,1262.000000
mean,0.808241,0.119738,319.500713,11.047230,14.099398,709.626783,4857.005943,23180.020602,53.600475,1.387480,0.151347,0.072108,0.115689
std,0.393841,0.024906,198.228995,0.568385,6.474297,35.590267,2508.050807,33636.249864,27.149591,2.138266,0.508526,0.314137,0.319979
min,0.000000,0.060000,16.730000,8.922658,0.000000,627.000000,183.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.100800,171.150000,10.710782,9.182500,682.000000,3089.958333,6432.000000,32.300000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.118900,266.675000,11.050890,14.380000,707.000000,4440.000000,13645.000000,54.400000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.135700,426.110000,11.407565,19.220000,737.000000,6119.989583,26433.250000,76.675000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.208600,922.420000,13.142166,29.950000,812.000000,17616.000000,394107.000000,106.400000,32.000000,5.000000,5.000000,1.000000

['all_other']

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000,2331.000000
mean,0.787216,0.116771,244.937542,10.845313,11.079498,715.344058,4311.706153,12883.039897,39.712321,1.646504,0.179751,0.048048,0.166023
std,0.409364,0.027152,184.272991,0.660981,7.099443,40.059548,2559.183077,31770.912348,29.347922,2.284179,0.588037,0.229404,0.372181
min,0.000000,0.063900,15.690000,7.600902,0.000000,632.000000,178.958333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.093200,111.580000,10.463103,5.005000,682.000000,2489.979167,1439.500000,13.350000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.118300,190.630000,10.839581,10.560000,712.000000,3869.958333,4689.000000,36.500000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.135500,319.470000,11.230118,16.560000,742.000000,5520.000000,12679.500000,62.200000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,916.950000,13.997832,29.900000,822.000000,17639.958330,602519.000000,108.800000,31.000000,11.000000,3.000000,1.000000

['home_improvement']

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,629.000000,629.000000,629.00000,629.000000,629.000000,629.000000,629.000000,629.000000,629.000000,629.000000,629.000000,629.000000,629.000000
mean,0.813990,0.117507,337.07159,11.201979,10.197504,724.806041,5201.995562,17328.756757,34.274626,1.941176,0.136725,0.066773,0.170111
std,0.389424,0.026889,222.10867,0.592289,6.775213,43.561991,2529.042580,34249.738350,27.980053,2.357001,0.448354,0.279887,0.376030
min,0.000000,0.060000,28.47000,9.392662,0.000000,632.000000,238.958333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.094500,163.43000,10.819858,4.300000,687.000000,3510.041667,2054.000000,8.800000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.118300,282.40000,11.184421,9.660000,722.000000,4807.000000,6713.000000,30.000000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.134800,491.37000,11.544812,15.100000,757.000000,6484.958333,17125.000000,52.300000,3.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,902.06000,13.487006,28.170000,827.000000,14761.041670,311616.000000,99.700000,15.000000,4.000000,3.000000,1.000000

['small_business']

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,619.000000,619.000000,619.000000,619.000000,619.000000,619.000000,619.000000,6.190000e+02,619.000000,619.000000,619.000000,619.000000,619.000000
mean,0.799677,0.138087,433.826607,11.146216,10.793296,719.988691,4892.115778,2.758120e+04,40.070436,1.933764,0.155089,0.056543,0.277868
std,0.400566,0.031191,248.585838,0.632436,6.932821,37.768905,2636.567898,7.674016e+04,30.081828,2.481741,0.474446,0.238051,0.448310
min,0.000000,0.071400,16.250000,8.987197,0.000000,642.000000,210.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.114600,226.390000,10.779997,5.025000,692.000000,3120.000000,2.400500e+03,12.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.137900,394.360000,11.156251,10.390000,717.000000,4559.041667,7.815000e+03,36.200000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.160000,628.215000,11.512925,16.130000,747.000000,6149.979166,2.486800e+04,65.200000,3.000000,0.000000,0.000000,1.000000
max,1.000000,0.212100,926.830000,13.331002,29.210000,822.000000,16350.000000,1.207359e+06,105.200000,27.000000,4.000000,2.000000,1.000000

['major_purchase']

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000,437.000000
mean,0.848970,0.114171,243.483913,10.844895,10.159886,722.503432,4325.969108,7281.453089,32.457895,1.562929,0.173913,0.048055,0.112128
std,0.358488,0.027445,179.320592,0.644325,6.630960,41.098429,2665.433103,11189.595841,27.101806,2.181826,0.568239,0.295186,0.315886
min,0.000000,0.070500,30.940000,8.699515,0.000000,642.000000,180.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.089400,124.880000,10.463103,4.480000,687.000000,2501.000000,906.000000,7.700000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.115800,198.780000,10.828042,9.510000,722.000000,3815.041667,3309.000000,29.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.134800,297.380000,11.167261,15.100000,757.000000,5491.000000,8950.000000,49.100000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.201700,898.550000,14.180154,26.150000,817.000000,15360.000000,111115.000000,99.600000,20.000000,4.000000,4.000000,1.000000

['educational']

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000,343.000000
mean,0.740525,0.119907,217.547201,10.549956,11.344927,708.282799,4008.595724,10828.897959,38.801166,1.854227,0.157434,0.043732,0.201166
std,0.438987,0.026551,168.505475,0.759202,6.939110,38.365188,2820.744277,23042.339207,29.866897,2.416265,0.450791,0.204796,0.401458
min,0.000000,0.060000,15.670000,8.101678,0.000000,612.000000,299.958333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.097600,99.925000,10.085809,5.425000,677.000000,1814.979167,1143.500000,10.700000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.121800,169.620000,10.596635,11.420000,707.000000,3389.958333,3745.000000,35.600000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.135700,278.430000,11.130042,16.385000,737.000000,5310.041667,9243.500000,61.250000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.201100,861.880000,12.206073,29.740000,807.000000,14310.000000,226567.000000,102.700000,16.000000,3.000000,1.000000,1.000000

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000