In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv("LoanData_Preprocessed_v1.2.csv") 
df

,age,employ,address,income,debtinc,creddebt,othdebt,ed,default
0,29,11,7,32.000000,6.0,0.927360,0.992640,1,0
1,28,1,3,26.000000,12.4,0.377208,2.846792,4,0
2,34,16,3,75.000000,10.4,3.954600,3.845400,1,0
3,51,31,14,249.000000,7.8,4.272840,15.149160,2,0
4,40,13,11,102.000000,18.9,6.226794,13.051206,2,1
...,...,...,...,...,...,...,...,...,...
480,41,16,17,68.000000,5.4,0.447984,3.224016,1,0
481,23,0,1,42.000000,3.9,1.018836,0.619164,2,1
482,47,26,21,100.000000,12.8,4.582400,8.217600,1,0
483,24,7,0,18.000000,6.5,0.526500,0.643500,1,0
484,32,12,1,44.448802,14.4,3.195936,4.580064,2,0